<div class="parallax">
    <div class="title">Mentr.me</div>
</div>
<div class="container">
    What is Mentr.me? Mentr.me is a platform that allows students to be mentored by 
    an industry professional of their choice in return for a charitable donation.
    <%= render 'components/card_row', title: 'Hello', text: 'Goodbye' %>
</div>
