<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @mentor.username %>,</h1>
    <p>
      <%= @user.username %> has requested to book a mentorship session with you through Mentr.me!<br>
    </p>
    <p>Please reply to this email to schedule a time for the meeting.</p>
  </body>
</html>
