<div class="text-center" style="margin-top:100px">
  <h1 class="display-3">Thank you for your payment!</h1>
  <p class="lead" style="margin-top:30px"><strong>Please check your email</strong> for your receipt.</p>
  <div style="margin-top:40px"/>
  <hr>
  <p style="margin-top:40px">
    Having trouble? <a href="">Contact us</a>
  </p>
  <p class="lead">
    <%= link_to 'Back to homepage', homepage_index_path, id: "back-to-homepage-btn", class: 'btn btn-primary'%>
  </p>
</div>