<div class="container">
  <h1>All Mentors</h1>
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-sm">
        <%= render 'components/card', title: user.username, text: 'Subjects taught XYZ with experience working', img: 'https://imgur.com/EM2B1A8.png', link: catalog_path(user.id), btn: "More Info" %>
      </div>
    <% end %>
    
    <% if @users.length%3 == 1%>
      <div class="col-sm">
        <div style="width:18rem"> </div>
      </div>
      <div class="col-sm">
        <div style="width:18rem"> </div>
      </div>
    <% end %>

    <% if @users.length%3 == 2%>
      <div class="col-sm">
        <div style="width:18rem"> </div>
      </div>
    <% end %>

  </div>
</div>
