<div class="container">
  <h1>All Mentors</h1>
  <div style="margin:10px; display:flex; align-items:center; justify-content: center;">
    <%= form_tag(catalog_index_path, method: :get) do %>
      <div class="input-group">
        <div class="form-outline" style="margin-right:5px">
          <%= text_field_tag(:search, params[:search], class:'form-control mr-sm-2', placeholder:"Search", id: "catalog_search")%>
        </div>
        <%= submit_tag "Search", class:"btn btn-outline-success my-2 my-sm-0", id: "catalog_search_button" %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <% @mentors.each do |user| %>
      <div class="col-sm">
        <%= render 'components/card', title: user.username, text: (user.profile) ? user.profile : "Hello, my name is #{user.username}",
        img: 'https://bootdey.com/img/Content/avatar/avatar7.png', link: user_path(user.user_id), btn: "More Info" %>
      </div>
    <% end %>

    <% if @mentors.length%3 == 1%>
      <div class="col-sm">
        <div style="width:18rem; border-width:1px;"></div>
      </div>
      <div class="col-sm">
        <div style="width:18rem; border-width:1px;"> </div>
      </div>
    <% end %>

    <% if @mentors.length%3 == 2%>
      <div class="col-sm">
        <div style="width:18rem; border-width:1px;"></div>
      </div>
    <% end %>

  </div>
</div>
