// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap/dist/css/bootstrap";

.hometitle {
    padding-top: 60px;
    padding-right: 50px;
    text-align: right;
    font: arial;
    font-weight: bold;
    font-size: 100px;
    color: white;
}

.subtitle {
    padding-top: 40px;
    padding-right: 50px;
    text-align: right;
    font: arial;
    font-size: 30px;
    color: white;
}

.question {
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
    font: arial;
    font-size: 50px;
}

.explain {
    padding-top: 20px;
    text-align: center;
    font: arial;
    font-size: 20px;
}

.parallax {
    /* The image used */
    background-image: url("https://files.consumerfinance.gov/f/images/cfpb_revised-journey_youth-fin-ed_FCM_illustrat.original.png");

    /* Full height */
    height: 870px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.space {
    padding-top: 40px;
}

.largespace {
    padding-top: 80px;
}

.rowspace {
    padding-left: 40px;
}
